<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div><%= link_to("Go back",{:action => 'edit'}, :class => 'back-to-index btn btn-default') %>			
			</div>
			<div>
				<%= form_for(:sdo, url: {action: 'update', id: @sdo.id}, method: :put) do |sdo| %>
				<table class="table table-bordered">
					<tr>
						<th>Full Name</th>
						<td><%= sdo.text_field(:name) %></td>
					</tr>
					<tr>
						<th>Email</th>
						<td><%= sdo.text_field(:email) %></td>
					</tr>
				</table>
				<div class="form-button">
					<%= submit_tag('Update Credentials') %> 
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>